body {
    background-color: #363535;
}

h1{
    color: white;
    font-size: 75px;
    margin: 0 auto;
    padding: 0;
}

h2 {
    color: white;
    font-size: 30px;
    margin: 0 auto;
    padding: 0;
}

p {
    margin: 0 auto;
    padding: 0;
    color: white;
}

#home-nav ul li{
    font-size: 25px;
    color: grey;
}

#home-nav ul li a{
    color: grey;
}

#home-nav ul li a:hover {
    color: white;
}

#projects-title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    width: 100vh;
    margin: 0 auto;
    padding: 0;
}

#projects-title h1 {
    text-align: left;
    margin-left: 0;
}

#projects-nav {
    margin-right: 0;
    padding: 0; 
    text-align: right;
}

#projects-nav ul li {
    color: white;
}

#projects-nav ul li a{
    color: white;
}

#projects-nav ul li a:hover {
    color: grey;
}

#projects-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: left;
    width: 100vh;
    margin: 0 auto;
    padding: 0;
}

#projects-content ul {
    margin: 0 auto;
    padding: 0;
}

#projects-content ul li {
    margin-top: 30px;
}

ul {
    margin-top: 10%;
    list-style-type: none;
}

li {
    text-decoration: none;
}

a {
    color:grey;
    text-decoration: none;
}

hr {
    width: 100vh;
}

#home-div {
    margin: 15%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

#home-div-left-column {
    text-align: right;
}

#home-div-right-column {
    color: grey;
    text-align: left;
}